torch==2.0.0+cu118 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.0.1+cu118 --index-url https://download.pytorch.org/whl/cu118
triton-nightly --index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/Triton-Nightly/pypi/simple/
scikit-image==0.24.0
matplotlib==3.9.0
transformers==4.44.0
datasets==2.21.0
tokenizers==0.19.1